@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--font-poppins);
  transition: background 0.3s, color 0.3s;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
